* {

    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 80%;
    margin-left: 10%;
}

.d-flex {
    display: flex;
}

.elem {
    border: 1px solid black;
    height: 20vh;
}

section {
    width: 100%;
}

.side_bar {
    width: 20%;
    border: 1px solid black;
}

.content {
    width: 60%;
}